*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.head{
    text-align: center;
    background-color: lightgreen;
    color: black;
    font-weight: 600;
}
div>table{
    margin: auto;
    margin-top: 20px;
}

tr>th[scope="col"]{
    background-color: lightgoldenrodyellow;
    resize: horizontal;
    overflow:hidden;
}

tr>td{
    text-align: center;
    padding: 1px;
}

div.opt_1{
    text-align: center;
    margin-top: 25px;
    padding: 12px;
}

div.opt_1>input{
    background-color: lightgreen;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    margin-right: 30px;
    border-radius: 30px;
}

div.opt_1>input:hover{
    color: orange;
    background-color: gray;
    cursor: pointer;
}

div.opt_2, h4{
    text-align: center;
}

div.opt_2>h4{
    margin: 8px;
    text-decoration: underline
}

div.opt_2{
    display: flex;
    margin-top: 50px;
    justify-content: center;  
}

div.opt_2>input{
    margin-left: 30px;
}



